* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./assets/img/nick-karvounis-Ciqxn7FE4vE-unsplash.jpg");
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
    color: #ffffff;
}

#content,
.header {
    width: 75vw;
    margin: 0 auto 0 auto;
    background-color: rgba(42, 39, 43, 0.8);
}

#content {
    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 0;
}

.header {
    margin-bottom: 70px;
}

.header-links {
    display: flex;
    justify-content: space-evenly;
    margin-left: 30px;
    list-style-type: none;
}

.header-links li {
    margin: 25px 0 25px 0;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: 0.2s;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.header-links li:hover,
.header-links .selected {
    transform: scale(1.2);
    background-color: #ffffff;
    color: #000000;
}

.home-text *,
.menu-header * {
    margin: 10px 100px 10px 100px;
}

.home-text p {
    line-height: 1.6;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto 50px auto 50px;
    gap: 10px;
}

.menu-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    border: 2px solid #ffb70355;
}

.menu-item img {
    height: 400px;
    padding: 25px;
}