* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./assets/img/background.jpg");
    background-attachment: fixed;
}

#content,
.header {
    width: 75vw;
    margin: 0 auto 0 auto;
    background-color: rgba(42, 39, 43, 0.7);
}

.header-links {
    display: flex;
    justify-content: space-evenly;
    margin-left: 30px;
    list-style-type: none;
}

.header-links li {
    margin: 25px 0 25px 0;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: 0.2s;
}

.header-links li:hover,
.header-links .selected {
    transform: scale(1.2);
    background-color: #ffffff;
    color: #000000;
}